body {
    background-color: green ;

}

/* On screens that are 480px or less, set the background color to red */
@media screen and (max-width: 480px) {
    body {
      background-color: red;
    }
    div{
        display: block;
    }
}

/* On screens that are 480px or greater , set the background color to green */
@media screen and (min-width: 481px) and (max-width: 1023px) {
    body {
      background-color: green;
    }
div#Large,div#Small{
    display: flex;
    flex-direction: row;
    position: relative;
}

div {
    display: flex;
    position: relative;
    flex-direction: row;
}

div:nth-child(1){
    width: 66%;
}
div:nth-child(2){
    width: 33%;
}
div:nth-child(3){
    width: 100%;
}


}

/* On screens that are 1024px or greater , set the background color to blue */
@media screen and (min-width: 1024px) {
    body  {
      background-color: blue;
    }


div {
    display: inline;
    
}
}